  <div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar marginBottom10">
    <a class="navbar-brand mr-0 mr-md-2" href="#">
      <img src="http://static.tvmaze.com/images/tvm-header-logo.png" alt="logo" style="width:100px;">
    </a>
  <div class="navbar-nav-scroll">
    <nav class="navbar navbar-expand-sm">
      <!-- Brand/logo -->
      
      <!-- Links -->
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shows" routerLinkActive="active">Shows</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/people" routerLinkActive="active">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
      
    </nav>
  </div>  
  <ul class="navbar-nav flex-row ml-md-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">{{userLogin}}</a>
    </li>
  </ul>
  </div>
  <div>
    <router-outlet></router-outlet> 
  </div>
  <footer class="text-center">
   
    <h3>Awais © {{year.getFullYear() }}</h3>
   
  </footer>
